name: Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches: ['*']

jobs:
  sanity:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: install devDependencies
        run: npm ci
      - name: run the tests
        run: npm test
      - name: build new dist
        run: npx ncc build src/index.js -o dist/reference
      - name: compare actual build with expected
        run: diff -U 5 dist/reference/index.js dist/main/index.js
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: install devDependencies
        run: npm ci
      - name: run the tests
        run: npm test
